/* cairo-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Cairo";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/cairo-v30-latin-regular.woff2") format("woff2");
}
